.relative {
  position: relative; }

.preloader {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100vh;
  z-index: 99; }

.lds-ripple {
  display: inline-block;
  position: absolute;
  width: 220px;
  height: 220px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0); }

.lds-ripple div {
  position: absolute;
  border: 6px solid #0d88bf;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite; }

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s; }

@keyframes lds-ripple {
  0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 1; }
  100% {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; } }
.top-line {
  font-family: "Roboto";
  overflow: hidden;
  font-size: 14px;
  background-image: linear-gradient(90deg, rgba(13, 191, 121, 0) 0%, rgba(255, 237, 31, 0.3) 100%);
  background-color: #0d88bf; }
  .top-line .top-contacts {
    padding: 0;
    margin: 0;
    list-style: none;
    min-height: 40px; }
    .top-line .top-contacts > li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px; }
    .top-line .top-contacts a {
      display: inline-block;
      padding: 7px 5px;
      color: #fff;
      position: relative; }
      .top-line .top-contacts a:hover, .top-line .top-contacts a:focus {
        text-decoration: none; }
      .top-line .top-contacts a:after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out; }
      .top-line .top-contacts a:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left; }
    .top-line .top-contacts svg {
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: middle;
      fill: #fff; }
      @media (min-width: 768px) {
        .top-line .top-contacts svg {
          width: 15px;
          height: 15px; } }

button {
  box-sizing: boreder-box;
  border: none;
  background: transparent;
  outline: none; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  background: rgba(13, 136, 191, 0.79);
  opacity: 0;
  -webkit-transition: 0.3s, top 0s ease 0.3s;
  transition: 0.3s, top 0s ease 0.3s;
  z-index: 10;
  pointer-events: none;
  height: 100%; }

.mobile-nav {
  display: block;
  position: absolute;
  top: 45px;
  z-index: 2;
  right: 0; }
  @media (min-width: 992px) {
    .mobile-nav {
      display: none; } }

.open-mobile-menu {
  font-size: 18px;
  padding: 5px 10px;
  box-sizing: content-box;
  display: block;
  color: #0d88bf;
  border: 2px solid #0d88bf;
  background: #fff; }

.home .open-mobile-menu {
  color: #fff;
  border: 2px solid #fff;
  background: transparent; }

.logo {
  width: 110px;
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  margin-left: 20px;
  margin: 5px auto;
  display: block;
  transition: width 0.3s; }

.top-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  height: 100vh;
  width: 280px;
  padding: 0;
  background-color: #f7f7f7;
  z-index: 12;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
  opacity: 1;
  -webkit-box-shadow: -5px 0px 8px 4px rgba(0, 0, 0, 0.2);
  box-shadow: -5px 0px 8px 4px rgba(0, 0, 0, 0.2); }
  @media (min-width: 992px) {
    .top-nav {
      visibility: visible;
      transform: none;
      position: relative;
      height: auto;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 5px 0;
      -webkit-transition: none;
      transition: none; } }
  .top-nav__logo {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    text-decoration: none; }
    .top-nav__logo:hover, .top-nav__logo:focus {
      text-decoration: none; }
    @media (min-width: 1110px) {
      .top-nav__logo {
        flex-direction: row;
        align-items: center; } }
  .top-nav__caption {
    font-size: 14px;
    color: #6d6d6d;
    display: none; }
    @media (min-width: 1110px) {
      .top-nav__caption {
        margin-left: 10px; } }
    @media (min-width: 992px) {
      .top-nav__caption {
        display: block; } }
  .top-nav__close {
    position: absolute;
    width: 40px;
    height: 40px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
    color: #fff;
    padding: 0;
    z-index: 10;
    right: 100%;
    top: 0;
    display: block;
    opacity: 0;
    visibility: hidden; }
    @media (min-width: 334px) {
      .top-nav__close {
        width: 54px;
        height: 54px; } }
    @media (min-width: 992px) {
      .top-nav__close {
        display: none; } }
    .top-nav__close::before, .top-nav__close::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40px;
      border-top: 2px solid;
      margin: -1px 0 0 -20px; }
      @media (max-width: 334px) {
        .top-nav__close::before, .top-nav__close::after {
          width: 30px;
          margin-left: -15px; } }
    .top-nav__close::before {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg); }
    .top-nav__close::after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .top-nav__container {
    margin: 0 auto;
    padding: 0;
    height: 100vh; }
    @media (min-width: 992px) {
      .top-nav__container {
        height: auto;
        margin: 0;
        display: flex;
        align-items: center; } }
  .top-nav__row {
    position: relative;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scroll: touch;
    padding: 0; }
    @media (min-width: 992px) {
      .top-nav__row {
        height: auto;
        overflow: visible;
        position: static; } }

.top-nav-menu {
  display: block;
  padding: 0;
  margin: 0; }
  .top-nav-menu__item {
    position: relative;
    padding: 0 20px 0 0;
    display: block;
    padding: 0;
    margin: 0; }
    @media (min-width: 992px) {
      .top-nav-menu__item {
        float: left;
        position: static; } }
  .top-nav-menu__container-l2, .top-nav-menu__container-l3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform-origin: top right;
    transform-origin: top right;
    position: fixed;
    top: 0;
    right: 0;
    bottom: auto;
    height: 100vh;
    width: 280px;
    padding: 0;
    background-color: #fff;
    z-index: 12;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    visibility: hidden;
    opacity: 1; }
  @media (min-width: 992px) {
    .top-nav-menu__container-l2 {
      display: block;
      transform: translate3d(0, 0, 0);
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      height: auto;
      -webkit-transition: none;
      transition: none; } }
  @media (min-width: 992px) {
    .top-nav-menu__container-l3 {
      display: block;
      position: relative;
      transform: translate3d(0, 0, 0);
      height: auto;
      -webkit-transition: none;
      transition: none; } }
  .top-nav-menu__menu-l2, .top-nav-menu__menu-l3 {
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scroll: touch;
    padding: 0 20px 55px;
    transition: 0.3s; }
    @media (min-width: 992px) {
      .top-nav-menu__menu-l2, .top-nav-menu__menu-l3 {
        padding: 0;
        -webkit-transition: none;
        transition: none; } }
  @media (min-width: 992px) {
    .top-nav-menu__menu-l2 {
      display: flex;
      justify-content: space-around;
      margin: 0;
      padding: 20px 0;
      flex-wrap: wrap; } }
  .top-nav-menu__item-l2, .top-nav-menu__item-l3 {
    margin: 0;
    padding: 0; }
  .top-nav-menu__btn, .top-nav-menu__btn-l2, .top-nav-menu__btn-l3 {
    display: block;
    margin: 0;
    padding: 0 20px 0 35px;
    width: auto;
    word-break: break-word;
    background: #f7f7f7;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    color: #252525;
    position: relative;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    vertical-align: bottom;
    font-family: "Roboto"; }
    @media (min-width: 992px) {
      .top-nav-menu__btn, .top-nav-menu__btn-l2, .top-nav-menu__btn-l3 {
        text-transform: uppercase;
        text-decoration: none;
        border: none;
        color: #6d6d6d;
        margin: 0 20px;
        padding: 0;
        -webkit-transition: none;
        transition: none; } }
    .top-nav-menu__btn:hover, .top-nav-menu__btn:focus, .top-nav-menu__btn-l2:hover, .top-nav-menu__btn-l2:focus, .top-nav-menu__btn-l3:hover, .top-nav-menu__btn-l3:focus {
      text-decoration: none; }
  @media (min-width: 992px) {
    .top-nav-menu__btn::after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #0d88bf;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out; } }
  @media (min-width: 992px) {
    .top-nav-menu__btn:hover::after, .top-nav-menu__btn:focus::after {
      transform: scaleX(1);
      transform-origin: bottom left; } }
  .top-nav-menu__btn-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    display: block;
    padding: 10px 0; }
    @media (min-width: 992px) {
      .top-nav-menu__btn-text {
        font-size: 14px;
        border: none;
        padding: 10px 0; } }
    .top-nav-menu__btn-text--link {
      padding-left: 20px; }
  .top-nav-menu__btn-l2, .top-nav-menu__btn-l3 {
    margin: 0 -20px; }
    @media (min-width: 992px) {
      .top-nav-menu__btn-l2, .top-nav-menu__btn-l3 {
        margin: 0; } }
  @media (max-width: 991px) {
    .top-nav-menu__btn::after, .top-nav-menu__btn-l2::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 20px;
      width: 6px;
      height: 6px;
      margin: -3px 0 0 -4px;
      border-top: 1px solid #969696;
      border-right: 1px solid #969696;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg); } }
  @media (min-width: 992px) {
    .top-nav-menu__btn-l2 {
      display: none; } }

.folder-menu-header {
  position: relative;
  font-size: 0;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  background: #0d88bf;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }
  .folder-menu-header__back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    cursor: pointer;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    background: rgba(0, 0, 0, 0);
    border-left: 1px solid rgba(0, 0, 0, 0.15); }
    .folder-menu-header__back::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 50%;
      width: 10px;
      height: 10px;
      border-top: 2px solid;
      border-right: 2px solid;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      margin: -5px 0 0 -6px; }
    @media (min-width: 992px) {
      .folder-menu-header__back {
        display: none; } }
  .folder-menu-header__title {
    font-size: 15px;
    padding: 10px 20px;
    text-align: center; }
  .folder-menu-header__back + .folder-menu-header__title {
    margin-right: 60px;
    cursor: pointer; }
    @media (min-width: 992px) {
      .folder-menu-header__back + .folder-menu-header__title {
        margin-right: 0;
        cursor: unset; } }

.sticky-menu {
  position: fixed;
  top: 0;
  width: 100%; }
  .sticky-menu .logo {
    width: 50px; }

.state--mobile-menu-open .overlay {
  opacity: 1;
  visibility: visible;
  pointer-events: all; }
.state--mobile-menu-open .top-nav {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .state--mobile-menu-open .top-nav__close {
    opacity: 1;
    visibility: visible; }
.state--mobile-menu-open .top-nav-menu__item.open .top-nav-menu__container-l2 {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
.state--mobile-menu-open .top-nav-menu__item-l2.open .top-nav-menu__container-l3 {
  visibility: visible;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

@media (min-width: 992px) {
  .state--desk-menu-open .top-nav-menu__item.open .top-nav-menu__btn::after {
    transform: scaleX(1);
    transform-origin: bottom left; } }
.state--desk-menu-open .top-nav-menu__item.open .top-nav-menu__container-l2 {
  visibility: visible; }
.state--desk-menu-open .top-nav-menu__item.open .top-nav-menu__container-l3 {
  visibility: visible; }

@media (min-width: 992px) {
  .hidden-desk {
    display: none; } }

@media (min-width: 992px) {
  .top-nav-menu__container-l2 > .folder-menu-header {
    height: 3px; }
    .top-nav-menu__container-l2 > .folder-menu-header > .folder-menu-header__title {
      display: none; } }
@media (min-width: 992px) {
  .home .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12; } }
@media (min-width: 992px) {
  .home .top-nav {
    background: transparent;
    box-shadow: none;
    border-bottom: 1px solid #7d7d7d; } }
@media (min-width: 992px) {
  .home .logo {
    stroke: #fff; } }
@media (min-width: 992px) {
  .home .top-nav__caption {
    color: #fff; } }
@media (min-width: 992px) {
  .home .top-nav-menu__btn {
    background: transparent;
    color: #fff; } }
.home .sticky-menu {
  position: fixed;
  top: 0;
  background: #f7f7f7;
  box-shadow: -5px 0px 8px 4px rgba(0, 0, 0, 0.2); }
  .home .sticky-menu .logo {
    stroke: #000; }
  .home .sticky-menu .top-nav__caption {
    color: #6d6d6d; }
  .home .sticky-menu .top-nav-menu__btn {
    color: #6d6d6d; }

.slider {
  padding: 0; }
  @media (min-width: 992px) {
    .slider {
      margin: 0;
      padding: 0; } }

.slider-caption-box {
  position: relative;
  padding-top: 40px;
  height: 100%;
  box-sizing: content-box; }
  @media (min-width: 992px) {
    .slider-caption-box {
      padding-top: 170px; } }

.slider-caption-text {
  font-family: "Roboto";
  color: #fff;
  font-size: 20px;
  position: absolute;
  z-index: 1;
  top: 50%;
  width: 60%;
  margin-left: 30px;
  margin-bottom: 0;
  font-weight: 100;
  transform: translateY(-50%); }
  @media (min-width: 992px) {
    .slider-caption-text {
      font-size: 40px; } }

.slider-caption-text-blue {
  font-family: "Roboto";
  color: #0d88bf;
  font-weight: 700; }

.slider .owl-carousel img {
  width: auto;
  height: 100vh; }

.slide-item {
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 100vh !important; }
  .slide-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1; }

.owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%); }

.owl-next {
  position: absolute;
  right: 0; }

.owl-next.disabled, .owl-prev.disabled {
  opacity: 0.2; }

.left-angle {
  position: relative;
  left: 0;
  color: #0d88bf; }
  @media (min-width: 768px) {
    .left-angle {
      left: -10px; } }
  @media (min-width: 1250px) {
    .left-angle {
      left: -30px; } }

.right-angle {
  position: relative;
  right: 0;
  color: #0d88bf; }
  @media (min-width: 768px) {
    .right-angle {
      right: -10px; } }
  @media (min-width: 1250px) {
    .right-angle {
      right: -30px; } }

.owl-dots {
  position: absolute;
  top: 0; }

.section-caption {
  font-family: "Roboto";
  color: #fff;
  font-size: 30px;
  padding: 20px 0 20px 30px;
  background-image: linear-gradient(90deg, rgba(13, 191, 121, 0) 0%, rgba(255, 237, 31, 0.3) 100%);
  background-color: #0d88bf; }

.section-caption-white {
  font-family: "Roboto";
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px; }

.section-news {
  padding: 60px 0; }
  @media (min-width: 992px) {
    .section-news .owl-stage-outer {
      z-index: 1; } }
  .section-news .owl-stage {
    display: flex; }
  .section-news .owl-item {
    display: flex; }

.slides {
  position: relative; }

.news {
  padding: 0 20px 20px 20px;
  transition: box-shadow 0.3s ease 0s;
  border-bottom: 2px solid #0d88bf;
  margin: 50px 20px 20px 20px;
  width: 100%; }
  .news:hover {
    box-shadow: 0 2px 20px rgba(34, 30, 31, 0.4); }
    .news:hover .news-button {
      color: #fff;
      background: #0d88bf; }
  .news-header {
    height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -20px;
    position: relative;
    max-height: 100% !important; }
  .news-img {
    width: 100%;
    height: auto;
    position: relative;
    top: -20px; }
  .news-caption {
    font-size: 18px; }
  .news-date {
    color: #989898; }
  .news-footer {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%); }
  .news-button {
    background: #fff;
    color: #0d88bf;
    padding: 8px 30px;
    border: 1px solid #0d88bf;
    transition: background 0.3s ease 0s; }
    .news-button:hover {
      color: #fff;
      background: #0d88bf; }

.news-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  cursor: pointer;
  z-index: 2; }
  .news-nav::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 10px solid #0d88bf;
    border-right: 10px solid #0d88bf; }
  .news-nav__left {
    left: 8px; }
    @media (min-width: 1200px) {
      .news-nav__left {
        left: -10px; } }
    .news-nav__left::after {
      transform: rotate(-135deg); }
  .news-nav__right {
    right: 8px; }
    @media (min-width: 1200px) {
      .news-nav__right {
        right: -10px; } }
    .news-nav__right::after {
      transform: rotate(45deg); }

.news-nav.disabled {
  opacity: 0.2;
  cursor: initial; }

.section-feature {
  position: relative;
  padding: 60px 0; }

.bg-feature {
  background-image: url(../img/slides/1.jpg);
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }
  .bg-feature::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 126, 160, 0.58); }

.feature {
  color: #fff;
  text-align: center; }

.feature-counter {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-variant-ligatures: common-ligatures; }

.feature-desc {
  font-family: "Roboto";
  font-size: 18px; }

.section-spec {
  margin: 60px 0; }

.speciality {
  text-align: center;
  display: block;
  margin: 15px 0;
  padding: 15px;
  height: 100%; }
  .speciality:hover, .speciality:focus {
    box-shadow: 0 2px 20px rgba(34, 30, 31, 0.4);
    text-decoration: none; }

.speciality-icon {
  width: 40%;
  margin-bottom: 20px;
  fill: #0d88bf; }

.speciality-name {
  color: #000; }

.section-partners .slider-partners {
  margin-top: 30px;
  padding: 0 20px; }
  @media (max-width: 992px) {
    .section-partners .slider-partners {
      display: flex;
      flex-direction: column; } }
@media (min-width: 992px) {
  .section-partners .owl-stage-outer {
    z-index: 1; } }
.section-partners .partner {
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  top: -20px;
  position: relative;
  max-height: 100% !important; }
.section-partners .owl-stage {
  display: flex; }
  .section-partners .owl-stage .owl-item {
    display: flex;
    align-items: center; }
@media (max-width: 992px) {
  .section-partners .owl-nav {
    position: initial;
    transform: none;
    display: flex;
    justify-content: space-around; } }
@media (max-width: 992px) {
  .section-partners .owl-nav .owl-next {
    position: initial; } }

.partner-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  cursor: pointer;
  z-index: 2; }
  .partner-nav::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 10px solid #0d88bf;
    border-right: 10px solid #0d88bf; }
  .partner-nav__left {
    left: 8px; }
    @media (min-width: 1200px) {
      .partner-nav__left {
        left: -10px; } }
    .partner-nav__left::after {
      transform: rotate(-135deg); }
  .partner-nav__right {
    right: 8px; }
    @media (min-width: 1200px) {
      .partner-nav__right {
        right: -10px; } }
    .partner-nav__right::after {
      transform: rotate(45deg); }

.partner-nav.disabled {
  opacity: 0.2;
  cursor: initial; }

.footer {
  font-family: "Roboto";
  overflow: hidden;
  font-size: 14px;
  background-image: linear-gradient(90deg, rgba(13, 191, 121, 0) 0%, rgba(255, 237, 31, 0.3) 100%);
  background-color: #0d88bf;
  margin: 60px 0 0 0;
  text-align: center;
  color: #fff;
  padding-top: 30px; }
  .footer .copyright {
    margin-top: 30px;
    display: inline-block;
    border-top: 2px solid #fff;
    padding: 10px 0; }

/*# sourceMappingURL=main.css.map */
