.top-line
	font-family: "RobotoRegular"
	overflow: hidden
	font-size: 14px

	
	background-image: linear-gradient(90deg, rgba(13,191,121,0) 0%, rgba(255,237,31,0.3) 100%)
	background-color: $top-line-bg
	


	.top-contacts
		padding: 0
		margin: 0
		list-style: none
		min-height: 40px

		>li
			display: inline-block
			padding-right: 5px
			padding-left: 5px
		a
			display: inline-block
			padding: 7px 5px
			color: $top-line-text
			position: relative
			&:hover, &:focus
				text-decoration: none
			&:after
				content: ''
				position: absolute
				width: 100%
				transform: scaleX(0)
				height: 2px
				bottom: 0
				left: 0
				background-color: #fff
				transform-origin: bottom right
				transition: transform 0.25s ease-out
			&:hover::after
				transform: scaleX(1)
				transform-origin: bottom left
		svg
			display: inline-block
			width: 20px
			height: 20px
			vertical-align: middle
			fill: $top-line-svg
			@media (min-width: 768px)
				width: 15px
				height: 15px
		